.top-row {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}
.hide {
    display: none;
}
h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

.quiz{
    position: absolute;
    left: 35%;
}
.start-btn {
    background-color: blueviolet;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    border-style: none;
}

#highscorecontanier {
    position: absolute;
    left: 35%;
}

#back, #clearscore {
    background-color: blueviolet;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    border-style: none;
}